<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Tree Operations</title>
</head>
<body ng-app="treeoperations">
<hr/>
<div class="container" ng-controller="TreeOperationsResource">
    <div class="row">
       <!--  <label>Get Children</label> <input type="text" ng-model="userDto.userName" class="input-sm spacing"/> -->
        <label>Node ID: </label> <input type="number" ng-model="descendantId" class="input-sm custom-width spacing"/>
        <button ng-click="getDescendants()" class="btn btn-sm btn-info">get descendants</button>
    </div>
    <hr/>
    <div class="row">
      <label>Descendants are: </label>  <p>{{allDescendants | json}}</p>
    </div>
    <hr/>
    <div class="row" ng-repeat="user in allUsers">
        <div class="">
            <h3>{{node.nodeId}}</h3>
            <span ng-repeat="skill in user.skillDtos" class="spacing">{{skill.skillName}}</span>
        </div>
    </div>
</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/TreeOperationsResource.js"></script>
<script src="js/app/TreeOperationsService.js"></script>
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>
</html>